<button class="text-blue-400 hover:text-blue-600" (click)="toggle()">
  see more reviews
</button>

<app-toggle-show *ngIf="display">
  <div class="flex items-center justify-center mb-4">
    <app-review-container />
  </div>
  <hr />
  <div class="flex mt-2">
    <div class="w-1/2 flex flex-col items-center justify-center">
      <app-rating-review class="text-6xl" />
      <h1
        class="text-2xl my-2 font-semibold bg-gradient-to-r from-orange-400 to-yellow-400 bg-clip-text text-transparent"
      >
        The Lucky Reviewer
      </h1>
      <app-card></app-card>
    </div>
    <div class="border-l w-1/2">
      <div class="flex w-full justify-between gap-10 px-2">
        <app-selector class="w-1/2"></app-selector>
        <app-search-input class="w-1/2"></app-search-input>
      </div>
      <app-filter
        [filters]="review_filter"
        class="border rounded-full shadow-md ml-2"
      />
      <app-reviews class="grid-cols-1 h-[21.3rem] overflow-y-auto px-6" />
    </div>
  </div>
</app-toggle-show>
