/* Define reusable class */
.btn-slider {
  @apply absolute top-1/2 -translate-y-1/2 z-10 bg-white shadow px-4 py-2 rounded-full hover:bg-gray-100 transition duration-200;
}

.btn-slider-left {
  @apply left-2;
}

.btn-slider-right {
  @apply right-2;
}

.slider {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: back; /* IE 10+ */
}

/* .overflow-x-auto::-webkit-scrollbar {
  opacity: 0;
}
.overflow-x-auto:hover::-webkit-scrollbar {
  opacity: 9;
} */
