<!-- <div
  class="overflow-x-auto whitespace-nowrap snap-x snap-mandatory scroll-smooth px-4 py-6"
>
  <div class="flex gap-4">
    <app-card
      *ngFor="let card of cards"
      [imageUrl]="card.imageUrl"
      [country]="card.country"
      [place]="card.place"
      [price]="card.price"
      [totalPrice]="card.totalPrice"
      [avgPrice]="card.avgPrice"
    >
    </app-card>
  </div>
</div> -->

<div class="">
  <app-heading [heading]="heading" [text]="text"></app-heading>
  <div class="group relative w-full">
    <!-- Slider Buttons -->
    <button
      (click)="prev()"
      class="btn-slider btn-slider-left opacity-0 group-hover:opacity-100 z-30"
    >
      <i class="fa-solid fa-angle-left text-xl"></i>
    </button>

    <button
      (click)="next()"
      class="btn-slider btn-slider-right opacity-0 group-hover:opacity-100 z-30"
    >
      <i class="fa-solid fa-angle-right text-xl"></i>
    </button>

    <!-- Scrollable Container -->
    <div
      #scrollContainer
      class="whitespace-nowrap snap-x snap-mandatory scroll-smooth px-8 overflow-x-auto slider"
      *ngIf="cards"
    >
      <div class="flex gap-4">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
