<div class="relative w-full max-w-sm">
  <input
    type="search"
    placeholder="Search..."
    class="w-full pr-10 pl-4 py-2 border border-gray-300 rounded-3xl shadow-sm focus:outline-none focus:border-orange-400 focus:ring-2 focus:ring-orange-300"
  />

  <span
    class="absolute inset-y-0 right-0 flex items-center justify-center w-10 h-[2.6rem] rounded-e-3xl border border-orange-300 text-orange-300 hover:border-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5"
      fill="none"
      viewBox="0 0 24 24"
    >
      <defs>
        <linearGradient id="searchGradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#fb923c" />
          <!-- orange-400 -->
          <stop offset="100%" stop-color="#facc15" />
          <!-- yellow-400 -->
        </linearGradient>
      </defs>
      <path
        stroke="url(#searchGradient)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.65 6.65a7.5 7.5 0 016.35 6.35z"
      />
    </svg>
  </span>
</div>
