<div class="flex flex-col group" [ngClass]="ParentClass">
  <div class="flex items-center">
    <div class="relative overflow-hidden" [ngClass]="card">
      <!-- Card with image -->
      <div class="h-full w-full">
        <img
          [src]="images[currentIndex]"
          alt="Slide image"
          class="w-full h-full object-cover transition-all duration-300"
        />
      </div>

      <!-- Navigation buttons -->
      <button
        *ngIf="images.length > 1"
        (click)="prev()"
        class="btn_lift btn-slider opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <i class="fa-solid fa-angle-left text-sm text-blue-800"></i>
      </button>
      <button
        *ngIf="images.length > 1"
        (click)="next()"
        class="btn_right btn-slider opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <i class="fa-solid fa-angle-right text-sm text-blue-800"></i>
      </button>

      <!-- Dots -->
      <!-- <div class="flex justify-center mt-3 space-x-2">
      <div
        *ngFor="let image of images; index as i"
        class="w-3 h-3 rounded-full cursor-pointer"
        [ngClass]="{
          'bg-blue-600': i === currentIndex,
          'bg-gray-300': i !== currentIndex
        }"
        (click)="currentIndex = i"
      ></div>
    </div> -->
    </div>
  </div>
  <div class="info text-xl" [ngClass]="infoClass">
    <div class="flex gap-2">
      <p class="place" *ngIf="title">{{ title }}</p>
      <!-- <p class="country font-bold">{{ country }}</p> -->
    </div>

    <app-rating *ngIf="review" [review]="review"></app-rating>

    <app-price *ngIf="price" [originalPrice]="7249" [nights]="1"></app-price>

    <a href="/" class="underline text-sm border p-2 px-4" *ngIf="sign_p">{{
      sign_p
    }}</a>
  </div>
</div>
