<div class="lg:px-32 md:px-4 my-8">
  <div
    class="ads flex flex-col sm:flex-row md:items-center gap-14 sm:gap-4 sm:p-4 m-2 sm:m-0 border-1 rounded-2xl justify-between mt-6 sm:mt-8 lg:mt-12 w-full"
  >
    <div class="msg fon">
      <i
        class="fa-solid fa-comments text-2xl sm:text-3xl lg:text-4xl ml-0 sm:ml-4 text-[#F DE047]"
      ></i>
    </div>
    <p
      class="text-sm sm:text-base lg:text-xl font-medium text-white text-center sm:text-left px-2 sm:px-0"
    >
      Members save 10% or more on over 100,000 hotels worldwide when signed in
    </p>

    <a
      href="/"
      class="p-2 px-4 sm:px-6 border-2 rounded-3xl bg-[#fff] font-bold shadow-md text-sm sm:text-base whitespace-nowrap"
      >Sign in Now</a
    >
  </div>
</div>
